<header>
  <ul id="nav-bar">
    <li id="nav-image">
      <img src="images/cehas-circle.png" alt=" Cehas Barbershop logo " />
    </li>

    <li id="title-name">
      <p>Barbershop</p>
    </li>
  </ul>
</header>
