<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/login-head') %> 
    </head>
    <body>
        
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="mx-auto order-0">
                  <a class="navbar-brand" href="#">
                    <img src="images/cehas-barbershop-img.png" class="img-thumbnail " alt="Logo" width="60" height="60">
                    Barbershop
                  </a>
                </div>
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Paslaugos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="register">Registracija</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>

        <main>

        </main>

        <footer>

        </footer>
    </body>
</html>