<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/login-head') %>
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/shared.css" />
  </head>
  <body>
    <%- include('includes/login-header') %>

    <section id="hero">
      <div class="wrapper-big">
        <div id="wrapper">
          <div class="top-option">
            <div class="login-board"><button>Prisijungti</button></div>
            <div class="register-board"><button>Registruotis</button></div>
          </div>

          <div class="login-form">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3" id="password">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <button type="submit" class="btn btn-primary">Prisijunk!</button>
            </form>
          </div>
        </div>
        <div class="links">
          <ul>
            <li>
              <a href="https://www.facebook.com/Cechasbarbershop/">
                <img src="images/facebook.png" alt="facebook" />
              </a>
            </li>
            <li>
              <a href=""><img src="images/gmail.png" alt="email"></a>
            </li>
          </ul>
        </div>
      </div>

      
    </section>

    <footer></footer>
  </body>
</html>
