<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cehas Barbershop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Open+Sans:wght@400;700&family=Roboto:wght@100;300&family=Source+Sans+Pro:ital,wght@1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/shared.css" />
  </head>
  <body>
    <header>
      <ul id="nav-bar">
        <li id="nav-image">
          <img src="images/cehas-logo.png" alt=" Cehas Barbershop logo " />
        </li>

        <li id="title-name">
          <p>Barbershop</p>
        </li>
      </ul>
    </header>

    <main>

      <div class="wrapper">
        <div class="content">
          <div class="top-option">
            <div class="login-board"><button>Prisijungti</button></div>
            <div class="register-board"><button>Registruotis</button></div>
          </div>
          <div class="input-wrapper">
            <form class="prisijunk-form"> 
              <div class="form-item">
                <p class="formLabel">Email</p>
                <input type="email" name="email" id="email" class="form-style" autocomplete="off"/>
              </div>
              <div class="form-item">
                <p class="formLabel">Password</p>
                <input type="password" name="password" id="password" class="form-style" />
              </div>

            </form>
          </div>
          <div class="prisijunk-button"><button>Prisijunk</button></div>
        </div>
      </div>
      
      

    </main>

    <footer></footer>
  </body>
</html>
