/* font-family: 'Aboreto', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

#nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: "Aboreto", sans-serif;
}

#nav-image img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

#title-name {
  font-family: "Aboreto", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  align-items: center;
  margin: 2% 0;
}

button {
  background: none;
  border: solid 2px #111;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2vh;
  height: 3rem;
  letter-spacing: 0.1rem;
  transition: all 0.4s ease;
  color: #fff;
}

button:hover {
  background: rgb(36, 23, 23);
  color: #fff;
}

.links ul {
  display: flex;
  justify-content: bottom;
  margin-top: auto;
}

.links li {
  width: 5%;
  height: 5%;
  margin: 0%;
}

.links img {
  width: 100%;
  height: 100%;
}

