body {
  margin: 0;
}

main {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Aboreto", sans-serif;
}

#hero {
  height: 90vh;
  background-image: url(../images/barber-chair.png);
  background-position: center;
  background-size: cover;
}

#wrapper {
  width: 70%;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 0;
  margin: auto;

  position: relative;
  top: 6%;

}

.top-option {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin-bottom: 3.5%;
}

.login-board, .register-board {
  align-items: center;
  text-align: center;
}

.login-board button, .register-board button, form button{ 
  width: 100%;
  border: none;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 8%;
}

.form-label {
  align-items: center;
  text-align: center;
}

.mb-3 {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

div label {
  color: white;
  font-style: uppercase;
}

.btn {
  margin-top: 3.5%;
}

.btn:hover {
  background: rgb(14, 36, 68);
  border-color:rgb(14, 36, 68);
}






