body {
    margin: 0;
}

main {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aboreto', sans-serif;
}

.wrapper {
    height: 100%;
    width: 70%;
    background-color: rgb(174, 177, 179);
    border-radius: 10px;
    border: solid 6px #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px -20px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}


/* prisijunk / registruotis */
.top-option{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    /* margin: 4% 0; */
}

.login-board{
    align-items: center;
    text-align: center;
}

.register-board{
    align-items: center;
    text-align: center;
    
}

.login-board button {
    width: 100%;
    border: none;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 8%;
}

.register-board button {
    width: 100%;
    border: none;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 8%;
}


/* user input  */
.prisijunk-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input-wrapper {
    margin-bottom: 2%;
}

.inp {
    margin-top: 3%;
}

input {
    size: 40;
    background: #f2f2f2;
    border: solid 2px #111;
    border-style: groove;
    padding: 4%;
    border-radius: 3px;
    outline: none;
    font-size: 1rem;
}

#slaptazodis {
    margin-bottom: 4%;    
}

.prisijunk-button button {
    width: 100%;
    margin-bottom: 0;
    border: none;
    padding-top: 3%;
    padding-bottom: 4%;
}


